.plain{
    background-image:url("./landing\ \(1\).jpg");
    height:636px;
    width:1400px;
}
img{
    padding-left: 600px;
    padding-top: 5px;
}
.vc{
    display:flex;
}
.p2{
    padding-top: 5px;
    padding-left: 600px;
    font-size: 30px;
    color: blanchedalmond;
}
.p3{
    padding-left: 600px;
    font-weight: 700;
    font-size: 30px;
    color: blanchedalmond;
}
#br{
 
    background-image:url("./breakfast.jpg");
    height:200px;
    width:350px;
    background-repeat: no-repeat;
    background-position: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    color: beige;
}
#lu{
    padding:cover;
    background-image: url("./lunch.jpg");
    background-repeat: no-repeat;
    background-position: cover;
    width:350px;
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:beige ;
}
#di{
    width:350px;
    height:200px;
     float:right;
    background-image: url("./dinner.jpg");
    display:flex;
    align-items: center;
    justify-content: center;
    color:beige ;
}
.two{
    display: inline-block;
    
}
.fe{ 
    background-color:beige;
    height:90px;
    width: 350px;
    display:flex;
    align-items:center;
    justify-content: center;

}
.fc{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#FF5733;
    height:90px;
    width: 350px;
    color: blanchedalmond;
}fast{
    display:flex;
    padding-top:150px;
    border-collapse: collapse;
}
.fo{
    float:left;
}
.ff{
    width: fit-content;
    height:400px;
    display:block;
}
.drinks{
  padding:5px;
}
.jp{
    float:left;
    display:flex;

}
.ref{
    
    background-image: url("./foodsBg.jpg");
    width:1400px;
    height:599px;
}
.navi{

    margin:100px 300px 200px 300px;
    display: flex;
    justify-content: space-around;
    background-color: beige;
    background-size: contain;
    height:200px;
    clip-path:url("./foodsBg.jpg");
}
.food{
    float: left;
}
.about{
    display:flex;
    border:2px aliceblue;
    background-color: antiquewhite;
}
.hi{
    display:flex;
}
.h2{
    display:flex;
    flex-direction:column;
}
.src{
    
}
 body{
     background-color: #F15A29;
     color:black
 }
 .last{
     background-image: url("./subscribe.jpg");
     text-align: center;
     height:100px;
     color:antiquewhite;
}
#email{
    background-color: grey;
    width:100px;
    margin-left: 400px;
    margin-right: 50px;
}
#sub{
    background-color: #F15A29;
}
#last{
    display:flex;
}
footer{
    text-align: center;
}
.img{
    display:flex;
    justify-content: center;
}
